*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mulish', sans-serif;
}
section{
    max-width: 1170px;
    margin: 0 auto;
    border: 1px solid red;
}
/* header start*/
header{
    max-width: 1170px;
    margin: 0 auto;
    border: 1px solid red;
    padding: 10px 0px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .logo-group{
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
    text-decoration: none;
}
header nav ul li{
    list-style: none;
    margin-left: 44px;
}
header nav ul li a{
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 600;
}
header nav ul li a:hover{
    color: #FF5400;
    font-weight: 600;
}
header nav ul li .active{
    color: #FF5400;
    font-weight: 600;
}
header nav ul .hambuger-icon{
    display: none;
}
/* header end*/
/* hero start */
.hero{
    margin-top: 45px;
    text-align: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) , url('/images/hero-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 105px 0px;
    border-radius: 16px;
    /* background: linear-gradient(180deg, rgba(7,2,17,1) 0%, rgba(167,204,233,0) 100%); */
}
.hero .content p{
    padding: 0px 15%;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 65px;
}
.hero .content h1{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.hero .button-group{
    width: fit-content;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    gap: 24px;
    align-items: center;
}
.hero .button-group input{
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #fff;
}
.hero .button-group input::placeholder{
    color: rgba(19, 19, 24, 0.6);
    font-size: 16px;
    font-weight: 400;
}
.hero .button-group input:focus{
    border: 2px solid #FF5400;
    outline: none;
}
.hero .button-group .btn1 button, .hero .button-group .btn2 button{
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid #fff;
    width: 100%;
    text-align: left;
    transition: 0.3s;
    color: rgba(19, 19, 24, 0.4);
    font-size: 16px;
    font-weight: 400;
}
.hero .button-group .btn1 button:hover, .hero .button-group .btn2 button:hover{
    border: 2px solid #FF5400;
    transition: 0.3s;
}
.hero .button-group .btn1, .hero .button-group .btn2{
    display: flex;
    align-items: center;
    position: relative;
}
.hero .button-group .btn1 img, .hero .button-group .btn2 img{
    position: absolute;
    right: 0;
    padding-right: 10px;
}
.hero .button-group .find-btn{
    display: flex;
    position: relative;
    align-items: center;
}
.hero .button-group .find-btn img{
    position: absolute;
    left: 30px;
}

.hero .button-group .find-btn button{
    width: 100%;
    background-color: #FF5400;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #FF5400;
    transition: 0.3s;
    color: #FFF;
    font-weight: 400;
    font-size: 16px;
    /* letter-spacing: 1px; */
}
.hero .button-group .find-btn button:hover{
    border: 2px solid #fff;
    transition: 0.3s;
}

/* hero end */
/* popular tour */
.popular-tour{
    margin-top: 100px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 1;
    align-items: center;
    justify-content: space-between;
}
.popular-tour .content h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.popular-tour .content p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


/* ///////////////// */
.primaryBtn{
    border-radius: 8px;
    background: #FF5400;
    text-decoration: none;
    padding: 13px 34px;
    color: #fff;
    font-weight: 800;
    font-size: 20;
    border: 2px solid #FF5400;
    transition: 0.5s;
}
.primaryBtn:hover{
    background: #fff;
    color: #FF5400;
    border: 2px solid #FF5400;
    transition: 0.5s;
}
/* //////////////// */


.popular-tour ul{
    margin: 24px 0px;
    padding-left: 20px;
}
.popular-tour ul li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}
.popular-tour .image{
    text-align: right;
}
/* popular tour */
/* <!-- destination --> */
.destination{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.destination .content h1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.destination .content p{
    padding: 0px 15%;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.destination .gallery{
    margin-top: 48px;
}

.destination .grid1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    gap: 24px;
}
.destination .grid2{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 1;
    gap: 24px;
    margin-top: 24px;
}
.destination .grid3{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1;
    gap: 24px;
    margin-top: 24px;
}
.destination .item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.destination .item .inner-text{
    position: absolute;
    top: 50%;
}
.destination .item .inner-text h2{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
/* <!-- destination --> */
/* why us */
.why-us{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.why-us .content h1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.why-us .content p{
    padding: 0px 15%;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}
.why-us .grid-row{
    display: flex;
    gap: 24px;
}
.why-us .item{
    text-align: left;
    padding: 32px;
    border-radius: 16px;
}
.why-us .item h1{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 32px;
    margin-bottom: 16px;
}
.why-us .grid-row .card1{
    width: 50%;
    background-color: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);
}
.why-us .grid-row .card2{
    width: 50%;
    background-color: rgba(41, 206, 246, 0.05); 
    border: 1px solid rgba(41, 206, 246, 0.20);
}
.why-us  .card3{
    width: 50%;
    margin: 0 auto;
    background-color: rgba(233, 68, 68, 0.05);
    border: 1px solid rgba(233, 68, 68, 0.20);
    margin-top: 24px;
}

/* why us end*/
/* video */
.video{
    padding: 50px 0px;
}
.video .grid-row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.video .grid-row .content{
    width: 50%;
}
.video .grid-row .bg-video{
    width: 50%;
}
.video .grid-row .bg-video video{
    width: 100%;
    border-radius: 16px;
}
.video .content h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.video .content p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.video .content ul{
    margin: 24px 0px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.video .content ul li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
}
/* video end*/
/* newsletter */
/* newsletter end */